<h1>{{#link-to 'index'}}Bienvenidos a Coders Mexico{{/link-to}}</h1>

Secciones:

<ul>
  {{#link-to 'canales'}}Lista de Canales{{/link-to}}
  {{#link-to 'usuarios'}}Lista de Usuarios{{/link-to}}
</ul>

{{outlet}}